<div class="jumbotron">
    <form action="/api/login" method="POST">
        <input name="username" type="text">
        <input name="password" type="password">
        <button type="submit">Log In</button>
    </form>
    <br>
    <form action="/api/signup" method="POST">
        <input name="username" type="text">
        <input name="password" type="password">
        <button type="submit">Sign Up</button>
    </form>
</div>