<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

        body {
            background-color: #efeee7;
            color: #333;
        }

        h1 {
            font-family: Ranchers;
            text-align: center;
            background-color: #666;
            color: #efeee7;
        }

        .card-title {
            font-size: 32px;
        }

        .card-subtitle {
            font-size: 24px;
        }

        .card-text {
            margin-top: 16px;
        }

        .card {
            text-align: center;
            font-family: Inconsolata;
        }

        #input-list {
            height: 38px;
        }

        #submit-btn #clear-btn {
            margin-bottom: 5px;
        }

        #list {
            background-color: white;
        }

        #list-items {
            list-style: none;
        }

        li {
            justify-content: center;
        }
  </style>
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
    crossorigin="anonymous"
  ></script>
</head>
<!-- Header -->
<header class="container-fluid">
  <div class="row">
    <h1 class="col py-2">
      My List
    </h1>
  </div>
</header>
<!-- Card with instructions -->
<!-- Will expand to fit list inside at bottom-->
<div class="container">
  <div class="row justify-content-center">
    <!-- Card is the only item on the row and is designated as a col -->
    <div class="col-12 card mt-5">
      <div class="card-body p-3">
        <!-- Title -->
        <div class="card-title">
          Type an entry and click "submit" to add something to the list.
        </div>
        <!-- Subtitle -->
        <div class="card-subtitle text-muted">
          Click "complete" next to a list item to remove it from the list.
        </div>
        <!-- Input text and submission button -->
        <div class="card-text">
          <form action="/api/createitem" method="POST">
            <div class="form-group">
              <input
                type="text"
                placeholder="Add a list item"
                id="input-list"
                name="item"
              />
              <button type="submit" id="submit-btn" class="btn btn-primary">
                Submit
              </button>
            </div>
          </form>
        </div>
        <!-- Card text such that the card is extended when a list item is added -->
        <div class="card-text">
          <!-- Empty list at the beginning before any items are added -->
          <ul id="list-items">
            {{#each item}}
              <li>
                {{this}}
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>